Missing values - Práctica

In [118]:
# Importa as librarías

In [120]:
# Carga o dataset con datos do titanic
# datasets <- titanic_train.csv

In [122]:
# Consulta os tipos das variables do dataset e observa se  hai valores nulos

In [124]:
# Mostra o número de valores núlos por variable

In [126]:
# Crea un novo dataset no que non haxa filas con valores nulos (eliminar filas)

In [128]:
# Calcula o número de filas eliminadas

In [130]:
# Crea un novo dataset sen as columnas que teñan máis de 10 nulos

In [132]:
# Calcula no número de columnas eliminadas

In [134]:
# Crea un novo dataset a partir do orixinal cos seguintes cambios:
# Reempraza os valores null da columna de idade ('Age') pola media das idades do resto do dataset
# Reempraza nulos na variable "Embarked" polo valor máis frecuente na variable
# Elimina as columnas con valores nulos

In [139]:
# Carga o un dataset con missing values con datos sobre viaxes-desprazamentos
# https://openmv.net/info/travel-times
# datasets <- travel-times.csv

In [175]:
#Visualiza os tipos de datos

In [177]:
# Visualiza o número de nulos

In [179]:
# Elimina as columnas con máis da metade de nulos

In [181]:
# Substitúe os valores nulos utilizando o valor da fila anterior
# Comproba se o restultado era o que esperabas