### Operacións con Dataframes

In [1]:
# 1. Descarga contra a API covid de narrativa algúns datos
# https://covid19tracking.narrativa.com/es/spain/api.html
# * Descargarás os mesmos datos para diferentes países: España e Portugal
# * Os datos serán os correspondentes aos 30 últimos días
# - contaxiados totais
# - novos contaxiados
# - total mortes
# - novas morte
# Crea un único dataframe con todos os datos

In [15]:
# Nota: realiza dúas peticións diferentes, unha para España e outra para Portugal

In [23]:
# 2. Descarga contra a API covid de narrativa algúns datos
# https://covid19tracking.narrativa.com/es/spain/api.html
# Descarga os datos da primeira semana de novembro21, decembro21 e xaneiro22 para FRANCIA
# - novos contaxiados
# - novas mortes
# Crea un único dataframe con todos os datos

In [32]:
# 3. Carga os datos de títulos e salarios e combínaos para crear un único dataframe
# extras-titulos&salarios.zip
# - titulos.csv
# - salarios.csv